.sidebar-container{
    width: 120px;
    height: 100vh;
    justify-content: flex-start;
}
.profile-container{
    width: 90%;
    height: 80vh;
}
.body-container{
    width: 100%;
    height: 100vh;

}